p {
    font-family: "Noto Sans", "sans serif";
    color: whitesmoke;
    font-size: .85em;
}

h1 {
    font-family: "Playfair Display", "serif";
    color: whitesmoke;
    font-size: 7em;
    font-weight: 700;
}

h2 {
    font-family: "Noto Sans", "sans serif";
    text-transform: uppercase;
    color: indianred;
    font-size: 1.25em;
}

.container {
    background: lightgrey;
    padding: 0px;
}

body {
    margin: 0 auto;
}

html {
    margin: 0 auto;
}

.little_button {
    background: indianred;
    color: whitesmoke;
    font-family: "Noto Sans", "sans serif";
    padding: 8px;
    margin: 5px;
    font-size: 16pt;
}

.col-sm {
    background-color: rgb(116, 58, 58);
    border: white 3px solid;
    color: whitesmoke;
    text-transform: capitalize;
    padding: 10px;
}

.col-sm:hover {
    background-color: indianred;
}

.jumbotron > p {
    color: #444;
    line-height: 3px;
}

.top_h2 {
    padding-bottom: 10px;
}

.top_p {
    padding-bottom: 10px;
    word-wrap: normal;
}

.btn {
    background-color: indianred;
}

.jumbotron {
    background-image: url("/Users/brentabruzese/Downloads/ocean_background/ocean background.svg");
    border-radius: 0px;
}

.back_panel {
    background-color: black;
    margin: auto;
    width: 500px;
    height: auto;
    padding: 15px;
}

.bg-light {
    background-color: indianred;
}